node_modules
.next
.git
.github
docs
reference
README.md
LICENSE.txt
.env*
.env.local
.env.production
.env.development
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Dockerfile
.dockerignore
*.tsbuildinfo
.idea
.ruff_cache
